<html>
	<head>
		<title>Blog App</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>
	</head>
	<body>
		<div class="ui fixed inverted menu ">
		  <div class="ui container">
		  	<div class="header item"><i class="code icon"></i><a href="/">Blog Site</a></div>
		  	<a href="/" class="item">Home</a>
			<a href="/blogs/new" class="item">New Post</a>
		  </div>
		</div>
		